<% if @book.errors.any? %>
  <div class="error">
    <h3>
      <%= @book.errors.count %>error prohibited this obj form being saved
    </h3>
    <ul><% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


